<!DOCTYPE html>
<html>
  <head>
    <title>Quote Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>

  <body>
    <div class="container">
      <h1>Welcome to the Quote Generator!</h1>
      <h2>Choose what type of quote you desire:</h2>

      <div class="button-container">
        <form action="/quote" method="post">
          <button class="button-homepage" type="submit" name="genre" value="happiness">Happiness</button>
        </form>

        <form action="/quote" method="post">
          <button class="button-homepage" type="submit" name="genre" value="success">Success</button>
        </form>

        <form action="/quote" method="post">
          <button class="button-homepage" type="submit" name="genre" value="inspirational">Inspirational</button>
        </form>

        <form action="/quote" method="post">
          <button class="button-homepage" type="submit" name="genre" value="food">Food</button>
        </form>

        <form action="/quote" method="post">
          <button class="button-homepage" type="submit" name="genre" value="friendship">Friendship</button>
        </form>

        <form action="/quote" method="post">
          <button class="button-homepage" type="submit" name="genre" value="health">Health</button>
        </form>

        <form action="/quote" method="post">
          <button class="button-homepage" type="submit" name="genre" value="art">Art</button>
        </form>

        <form action="/quote" method="post">
          <button class="button-homepage" type="submit" name="genre" value="">Random</button>
        </form>
      </div>
    </div>
  </body>
</html>
